/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

.container {
    width: 90%;
    max-width: 1280px;
    padding: 1em;
    margin: auto;
}

a {
    color: #057cb8;
    text-decoration: none;
}

.btn {
    font-size: 16px;
    line-height: 1.45em;
    display: inline-block;
    text-decoration: none;
    background-color: #eee;
    color: #111;
    padding: 0.5em 0.5em;
    border: 1px solid #ccc;
    border-radius: 2px;
    transition: background-color 0.1s;
}

.btn:hover {
    background-color: #ddd;    
}

.btn.btn-large {
    font-size: 20px;
}

.btn.btn-small {
    font-size: 14px;
}


.btn.btn-blue {
    background-color: #1185c0;
    color: #fff;
    border: 1px solid #1779AA;
}

.btn.btn-blue:hover {
    background-color: #0C6FA0;
    border: 1px solid #0D6087;
}

.btn.btn-green {
    color: #fff;
    background-color: #11BF14;
    border: 1px solid #0EA010;
}

.btn.btn-green:hover {
    background-color: #11A314;
    border: 1px solid #107F12;
}

.cf:before,
.cf:after,
.row:before,
.row:after,
.navbar:before,
.navbar:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after,
.row:after,
.navbar:after {
    clear: both;
}

[class*=col-] {
    float: left;
    border: 1px solid #ccc;
}

.col-1-12 {
    width: 8.33%;
}

.col-2-12 {
    width: 16.66%;
}

.col-3-12 {
    width: 25.00%;
}

.col-4-12 {
    width: 33.33%;
}

.col-5-12 {
    width: 41.66%;
}

.col-6-12 {
    width: 50.00%;
}

.col-7-12 {
    width: 58.33%;
}

.col-8-12 {
    width: 66.66%;
}

.col-9-12 {
    width: 75.00%;
}

.col-10-12 {
    width: 83.33%;
}

.col-11-12 {
    width: 91.66%;
}


.col-offset-1-12 {
    margin-left: 8.33%;
}

.col-offset-2-12 {
    margin-left: 16.66%;
}

.col-offset-3-12 {
    margin-left: 25.00%;
}

.col-offset-4-12 {
    margin-left: 33.33%;
}

.col-offset-5-12 {
    margin-left: 41.66%;
}

.col-offset-6-12 {
    margin-left: 50.00%;
}

.col-offset-7-12 {
    margin-left: 58.33%;
}

.col-offset-8-12 {
    margin-left: 66.66%;
}

.col-offset-9-12 {
    margin-left: 75.00%;
}

.col-offset-10-12 {
    margin-left: 83.33%;
}

.col-offset-11-12 {
    margin-left: 91.66%;
}

h2, h3, h4, h5, h6 {
    margin: 0.4em 0 0.5em 0;
}

h1.page-title {
    font-size: 60px;
    margin: 0.3em 0 0.5em 0;
    text-align: center;
}

h2 {
    font-size: 2em;
    color: #333;
}

h3 {
    font-size: 1.6em;
    color: #555;
}

.well,
.modal {
    background-color: #eee;
    color: #111;
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 0.7em;
}

.navbar {
    background-color: #eee;
    padding: 0.5em;
}

.navbar ul {
    list-style: none;
    margin: 0;
    float: right;
}

.navbar li {
    display: inline-block;
    margin: auto 0.3em;
}

.navbar a,
.navbar .navbar-title {
    display: inline-block;
    padding: 0.35em 0.5em;
}

.navbar .navbar-title {
    color: #444;
    font-weight: bold;
}

.navbar .navbar-title:hover {
    color: #111;
}

.navbar li a:hover {
    background-color: #359BCE;
    color: #fff;
    border-radius: 2px;
}
