*, *:before, *:after {
  box-sizing: border-box; }

body {
  color: #111;
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  margin: .3em 0;
  padding-bottom: .2em; }

h1 {
  font-size: 3em;
  margin: .2em 0; }

h2 {
  color: #222;
  font-size: 2em; }

h3 {
  color: #222;
  font-size: 1.6em; }

h4 {
  font-size: 1.4em; }

h5 {
  font-size: 1.3em; }

h6 {
  font-size: 1.2em; }

h4, h5, h6 {
  color: #333; }

p {
  line-height: 1.45em;
  margin: .1em 0 1em;
  padding: 0; }

a {
  color: #0b8ac0;
  text-decoration: none;
  -webkit-transition: .2s all;
          transition: .2s all; }

a:hover {
  color: #0eadf0;
  -webkit-transition: .2s all;
          transition: .2s all; }

.container {
  margin: auto;
  max-width: 1280px;
  padding: 1em;
  width: 90%; }

html, body {
  height: 100%; }

.hero {
  height: 100%;
  position: relative;
  text-align: center; }
  .hero .hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .hero h1 {
    font-size: 5em; }
  .hero .tagline {
    font-size: 1.4em;
    color: #2b2b2b; }

@media (max-width: 700px) {
  .hero h1 {
    font-size: 3em; } }

.row:before, .row:after {
  content: ' ';
  display: table; }

.row:after {
  clear: both; }

[class*=col-] {
  float: left; }

.col-1-12 {
  width: 8.333%; }

.col-2-12 {
  width: 16.667%; }

.col-3-12 {
  width: 25%; }

.col-4-12 {
  width: 33.333%; }

.col-5-12 {
  width: 41.667%; }

.col-6-12 {
  width: 50%; }

.col-7-12 {
  width: 58.333%; }

.col-8-12 {
  width: 66.667%; }

.col-9-12 {
  width: 75%; }

.col-10-12 {
  width: 83.333%; }

.col-11-12 {
  width: 91.667%; }

.col-12-12 {
  width: 100%; }

.col-offset-1-12 {
  margin-left: 8.333%; }

.col-offset-2-12 {
  margin-left: 16.667%; }

.col-offset-3-12 {
  margin-left: 25%; }

.col-offset-4-12 {
  margin-left: 33.333%; }

.col-offset-5-12 {
  margin-left: 41.667%; }

.col-offset-6-12 {
  margin-left: 50%; }

.col-offset-7-12 {
  margin-left: 58.333%; }

.col-offset-8-12 {
  margin-left: 66.667%; }

.col-offset-9-12 {
  margin-left: 75%; }

.col-offset-10-12 {
  margin-left: 83.333%; }

.col-offset-11-12 {
  margin-left: 91.667%; }

.col-offset-12-12 {
  margin-left: 100%; }

@media (max-width: 700px) {
  [class*=col-] {
    float: none;
    width: 100%;
    margin-left: 0; } }

.navbar {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.9);
  border-bottom: 1px solid #ccc;
  position: absolute;
  width: 100%;
  z-index: 1000; }
  .navbar:before, .navbar:after {
    content: ' ';
    display: table; }
  .navbar:after {
    clear: both; }
  .navbar .navbar-title {
    border-right: 1px solid #ccc;
    color: #6a6a6a;
    display: block;
    float: left;
    padding: 1em;
    -webkit-transition: .2s all;
            transition: .2s all; }
  .navbar .navbar-title:hover {
    background-color: #eee;
    border-right: 1px solid #ccc;
    color: #111;
    -webkit-transition: .2s all;
            transition: .2s all; }
  .navbar ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    .navbar ul:before, .navbar ul:after {
      content: ' ';
      display: table; }
    .navbar ul:after {
      clear: both; }
    .navbar ul li {
      float: left; }
      .navbar ul li a {
        display: block;
        padding: 1em;
        -webkit-transition: .2s all;
                transition: .2s all; }
        .navbar ul li a:hover {
          background-color: #0b8ac0;
          color: #fff;
          -webkit-transition: .2s all;
                  transition: .2s all; }

.btn {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 1px;
  color: #515151;
  display: inline-block;
  font-size: .8em;
  height: auto;
  letter-spacing: 1px;
  margin: 0;
  outline: 0;
  padding: .65em 1.35em;
  text-transform: uppercase;
  -webkit-transition: .2s all;
          transition: .2s all; }
  .btn:hover {
    background-color: #111;
    border-color: #111;
    color: white;
    -webkit-transition: .2s all;
            transition: .2s all; }
  .btn.btn-large {
    font-size: 1.1em; }
  .btn.btn-small {
    font-size: .65em; }
  .btn.btn-green {
    border: 1px solid #189d12;
    color: #189d12; }
    .btn.btn-green:hover {
      background-color: #189d12;
      color: #fff; }
  .btn.btn-blue {
    border: 1px solid #0b8ac0;
    color: #0b8ac0; }
    .btn.btn-blue:hover {
      background-color: #0b8ac0;
      color: #fff; }
  .btn.btn-red {
    border: 1px solid #e00;
    color: #e00; }
    .btn.btn-red:hover {
      background-color: #e00;
      color: #fff; }

.cf:before, .cf:after {
  content: ' ';
  display: table; }

.cf:after {
  clear: both; }

.well {
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 2px;
  color: #111;
  padding: .7em; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.text-justified {
  text-align: justify; }

.padded {
  padding: 1em; }

.padded-vertical {
  padding-top: 1em;
  padding-bottom: 1em; }

.padded-horizontal {
  padding-left: 1em;
  padding-right: 1em; }
