.btn,
input[type="submit"],
button {
    background-color: $body-background-color;
    border: 1px solid darken($body-background-color, 35);
    border-radius: 1px;
    color: lighten($body-text-color, 25%);
    cursor: pointer;
    display: inline-block;
    font-size: .8em;
    height: auto;
    letter-spacing: 1px;
    margin: 0;
    outline: 0;
    padding: .65em 1.35em;
    text-transform: uppercase;
    transition: .2s all;

    &:hover,
    &:focus {
        background-color: $body-text-color;
        border-color: $body-text-color;
        color: lighten(invert($body-text-color), 10%);
        transition: .2s all;
    }

    &.btn-large {
        font-size: 1.1em;
    }

    &.btn-small {
        font-size: .65em;
    }

    &.btn-green {
        border: 1px solid $button-green-color;
        color: $button-green-color;

        &:hover,
        &:focus {
            background-color: $button-green-color;
            color: $body-background-color;
        }
    }

    &.btn-blue {
        border: 1px solid $link-color;
        color: $link-color;

        &:hover,
        &:focus {
            background-color: $link-color;
            color: $body-background-color;
        }
    }

    &.btn-red {
        border: 1px solid $button-red-color;
        color: $button-red-color;

        &:hover,
        &:focus {
            background-color: $button-red-color;
            color: $body-background-color;
        }
    }
}
