form.block {
    input[type="text"],
    input[type="password"],
    input[type="email"],
    textarea,
    label,
    .text-input {
        display: block;
        margin: .4em 0;
    }
    &.full-width {
        input[type="text"],
        input[type="password"],
        input[type="email"],
        textarea,
        label,
        .text-input {
            width: 100%;
        }
    }
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea,
.text-input {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 1px;
    color: lighten($body-text-color, 10%);
    display: inline-block;
    height: auto;
    margin: 0 .5em;
    outline: 0;
    padding: .4em .6em;
    transition: .2s all;

    &:hover {
        border: 1px solid #999;
    }

    &:focus {
        border: 1px solid #999;
        box-shadow: 0 0 5px #aaa;
    }
}

@media (max-width: $mobile-breakpoint) {
    input[type="text"],
    input[type="password"],
    input[type="email"],
    textarea,
    label,
    .text-input {
        display: block;
        margin: .4em 0;
    }
}
