form {
    margin: 1em 0;

    &.block {
        input[type="text"],
        input[type="password"],
        input[type="email"],
        textarea,
        label,
        .text-input {
            display: block;
            margin: .4em 0;
        }

        &.full-width {
            input[type="text"],
            input[type="password"],
            input[type="email"],
            textarea,
            label,
            .text-input {
                width: 100%;
            }
        }
    }
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea,
.text-input {
    background-color: $body-background-color;
    border: 1px solid darken($body-background-color, 20);
    border-radius: 1px;
    color: lighten($body-text-color, 10%);
    display: inline-block;
    height: auto;
    outline: 0;
    padding: .4em .6em;
    transition: .2s all;

    &:hover {
        border: 1px solid darken($body-background-color, 40);
    }

    &:focus {
        border: 1px solid darken($body-background-color, 40);
        box-shadow: 0 0 5px  darken($body-background-color, 35);
    }

    &[disabled] {
        background-color: darken($body-background-color, 7);

        &:hover {
            border: 1px solid darken($body-background-color, 20);
        }
    }
}

@media (max-width: $mobile-breakpoint) {
    input[type="text"],
    input[type="password"],
    input[type="email"],
    textarea,
    label,
    .text-input {
        display: block;
        margin: .4em 0;
    }
}
