.container {
    margin: auto;
    max-width: 1280px;
    padding: 1em;
    width: 90%;
}

html,
body {
    height: 100%;
}

.hero {
    height: 100%;
    position: relative;

    .hero-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.hero,
.column-hero {
    text-align: center;

    h1 {
        font-size: 5em;
    }

    .tagline {
        font-size: 1.4em;
        color: lighten($body-text-color, 10%);
    }
}

@media (max-width: $mobile-breakpoint) {
    .hero h1,
    .column-hero h1 {
        font-size: 3em;
    }
    .mobile-block {
        display: block;
    }
}
