.navbar {
    background-color: $body-background-color;
    background-color: rgba(255, 255, 255, .9);
    border-bottom: 1px solid darken($body-background-color, 20);
    position: absolute;
    width: 100%;
    z-index: 1000;

    &:before,
    &:after {
        content: ' ';
        display: table;
    }

    &:after {
        clear: both;
    }

    &.fixed {
        position: fixed;
    }

    .navbar-title {
        border-right: 1px solid darken($body-background-color, 20);
        color: lighten($body-text-color, 35%);
        display: block;
        float: left;
        padding: 1em;
        transition: .2s all;
    }

    .navbar-title:hover {
        background-color: darken($body-background-color, 10);
        border-right: 1px solid darken($body-background-color, 20);
        color: $body-text-color;
        transition: .2s all;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        &:before,
        &:after {
            content: ' ';
            display: table;
        }

        &:after {
            clear: both;
        }
    }

    li {
        float: left;
    }

    a {
        display: block;
        padding: 1em;
        transition: .2s all;

        &:hover {
            background-color: $link-color;
            color: $body-background-color;
            transition: .2s all;
        }
    }

    .menu-toggle-button {
        border: 1px solid darken($body-background-color, 20);
        display: none;
        float: right;
        line-height: 1.4em;
        padding: 1em;
        position: absolute;
        right: 0;
        top: 0;
    }
}

@media (max-width: $mobile-breakpoint) {
    .navbar {
        .menu-toggle-button {
            display: block;
        }

        ul {
            float: none;
            width: 100%;
        }

        li,
        .navbar-title {
            border-right: 0;
            border-top: 1px solid darken($body-background-color, 20);
            float: none;
            text-align: center;
            transition: all .2s;
            width: 100%;
        }
    }

    .navbar.collapsed {
        li {
            display: none;
            overflow: hidden;
        }
    }
}
