ul.sidebar {
    border: 1px solid #ccc;
    border-radius: 1px;
    color: lighten($body-text-color, 10%);
    list-style: none;
    margin: 0;
    padding: 0;

    &.sidebar-column {
        bottom: 0;
        overflow: auto;
        position: fixed;
        top: 0;
        z-index: 1000;
    }

    li {
        &.sidebar-title {
            background-color: #eee;
            display: block;
            font-size: .8em;
            font-weight: 600;
            padding: .3em .6em;
            text-transform: uppercase;
        }

        &.sidebar-text {
            display: block;
            padding: .4em .8em;
        }

        a {
            display: block;
            padding: .4em .8em;

            &:hover {
                background-color: #0b8ac0;
                color: #fff;
            }
        }
    }

    ul {
        list-style: none;
        padding: 0 1em;

        li {
            &.sidebar-title,
            &.sidebar-text,
            a {
                padding: .3em .5em;
            }
        }
    }
}
