table {
    margin: 1em 0;

    &.striped {
        tr:nth-child(even) {
            background-color: darken($body-background-color, 4);
        }
    }
}

td,
th {
    border: 1px solid darken($body-background-color, 20);
    padding: .5em;
}
