$body-background-color: #fff;
$body-font-family: Verdana, sans-serif;
$body-font-size: 16px;
$body-text-color: #111;

$transparent-white: rgba(255, 255, 255, .9);

$headings-font-family: Trebuchet, sans-serif;
$headings-font-weight: 400;

$link-color: #0b8ac0;

$mobile-breakpoint: 700px;

// Buttons
$button-blue-color: $link-color;
$button-red-color: #e00;
$button-green-color: #189d12;

// Messages text
$text-error-color: #f00;
$text-success-color: #008000;
